

/*Este é um comentário em CSS*/
/*
    Este é um comentário 
    em BLOCO em CSS
*/

/* Quais tags podem ser seletores CSS3: */
/* 
    - Tag
    - Class
    - ID
    - Atributo
    - Pseudo-classe
    - Pseudo-elemento
*/

/* Tag */




/* Class */
.link {
    color: #318021;
}

ul .link {
    color: #e8240e;
    /* border: 2px solid #e8240e; */
    display: inline;
    margin: 0 3%;

    /* Nesting links */
    a{
        text-decoration: none;
        color: #e8240e;
    }

}

#menu ul{
    text-align: center;
    letter-spacing: 2px;
}

/* ID */
#container {
    width: 80%;
    height: 100%;
    border: 2px solid #000;
    margin: 20px auto;
}

header{
    background: blue;
}


h1, h2 {
    color: #000000;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.menu{
    font-weight: bold;
}

#conteudo{
    line-height: 1.5;
    }

form{
    border: 1px solid gray;
    padding: 10px;
}

p{
    color: #176707;
}

button{
    background-color: blue;
    color: rgb(255, 255, 255);
}

footer{
    border-top:2px solid #e8240e;
    }